<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-http-equiv="X-UA-Compatible" content='ie=edge'>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
  <title>Drinnen: Stofftierheim</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
</head>
<body>

  <h3>Willkommen zuhause!</h3>
  <div>
    <img class="current_image" src="{{url_for('static', filename='images/')}}{{file_name}}.jpg" alt="Bild von Zuhause">
    <p>Bild ist vom: {{image_date}}</p>
    <p>Nächstes Bild: {{next_image_path}}</p>
    <p>Vorheriges Bild: <a>{{previous_image_path}}</a></p>
    <p>Neuestes Bild: {{newest_image_path}}</p>
  </div>
</body>
</html>
